@import url(https://fonts.googleapis.com/css?family=Roboto:300);
/* .password-wrapper {
  position: relative;
}
.confirm + .unmask {
  position: absolute;
  right: 0px;
  top: 20px;
  transform: translateY(-50%);
  text-indent: -9999px;
  width: 8px;
  height: 8px;
  background: #aaa;
  border-radius: 50%;
  cursor:pointer;
  border: none;
  -webkit-appearance:none;
}

.confirm + .unmask:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background: #e3e3e3;
  z-index:1;
  border-radius: 50%;
}

.confirm[type="text"] + .unmask:after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 7px;
  height: 7px;
  background: #aaa;
  z-index: 2;
  border-radius: 50%;
} */
#cancel-button {
  line-height: 10px;
  width: 18px;
  font-size: 6pt;
  font-family: tahoma;
  margin-top: 1px;
  margin-right: 2px;
  position:absolute;
  top:0px;
  right:0px;
  background-color: #FFFFFF;
  color:#4E2A84;
  border: none;
  border-radius:  10px;
}
h1 {
  text-align:center;
  color: #4B0082;
  font-weight:300;
  margin:0 0 40px;
  font-weight: bold;
}

#head-bar {
  width: 100%;
  height: 80px;
  background-color:#4E2A84;
  /* text-shadow: 3px 2px black; */
}

.head-left{
  text-align: center;
  padding-top:15px;
  color:#FFFFFF;
  font-size:30px;

}

.head-right{
}

#confirm-form{
  display: none;
}

.login-button {
  float: right;
  margin-right:20px;
  margin-top:25px;
}
.cta {
  background: #f2f2f2;
  width: 100%;
  padding: 15px 40px;
  box-sizing: border-box;
  color: #666666;
  font-size: 12px;
  text-align: center;
}

.body{
  background-color: #E4E0EE;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y:scroll;

}


.login-page {
  width: 360px;
  padding: 5% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 3;
  background: rgb(243, 241, 245);
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius:10px;
}
.form .user {
  font-family: FontAwesome, "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 1px solid #a0b3b0;
  border-radius:0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form .email {
  font-family: FontAwesome, "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 1px solid #a0b3b0;
  border-radius:0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form .password {
  font-family: FontAwesome, "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 1px solid #a0b3b0;
  border-radius:0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form .confirm {
  font-family: FontAwesome, "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 1px solid #a0b3b0;
  border-radius:0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form .check {
  font-family:FontAwesome,"Roboto", sans-serif;
  float:left;
  margin: 0 0 15px;
  font-size:12px;

}


.form button {
  font-family: "Titillium Web", sans-serif;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: .1em;
  outline: 0;
  background: #4B0082;
  width: 100%;
  border: 0;
  margin: 0px 0px 8px;
  padding: 15px;
  color: #FFFFFF;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;


}
.form button:hover,.form button:active,.form button:focus {
  background: #4B0082;
}


.form .message {
  
  margin: 6px 6px;
  color: #808080;
  font-size: 11px;
  text-align: center;
  font-weight: bold;
  font-style: normal;

  

}
.form .message a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 13px;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}
